body{
    margin: 0px;
    scrollbar-gutter: stable;
}
html {
   scrollbar-gutter: stable;
}

.cart-icon {
    position: relative;
}
.cart-icon span{
    font-size: 80%;
    background-color:rgb(218, 162, 140);
    position: absolute;
    top: 50%;
    right: -10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar{
      background-color:  rgb(238, 221, 177);
}
.img-nav {
   display: flex;
   gap: 10px;
   width: 130px;  
   align-items: center;
}

.navbar a,a:visited
 {
    text-decoration: none;
    color:rgb(157, 117, 13);
    display: block;
    text-align: center;
    padding: 5px 10px 5px 10px;
}

.navbar-text{
    display: flex;
    justify-content: center; 
    align-items: center;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.menu{
    display: flex;
    justify-content: center;
    flex: 1;
}
.image-frame img{
    height: 150px;
    width: auto; 
    padding: 25px 10px 0px 10px;
}

 .image-frame  {
    display: flex;
    justify-content: center; 
    align-items: center;   
    list-style-type: none;
}

.image-frame p{

    display: block;
    text-decoration: none;
    text-align: center;
    background-color: rgb(238, 234, 209);
    margin: 20px;
}
.image-frame a, a:visited{
     color:rgb(157, 117, 13);
     text-decoration: none;
}
.img-title img {
    width: 100%;
    height: auto;
}

.navbar a:hover{
   float:left;
}
.index-h{
  justify-content: center;
  align-items: center;
  display: flex;
}
.index-h h2{
  background-color: rgb(238, 234, 209);
  color:rgb(157, 117, 13);
  padding: 0px 5px 0px 5px;
}
.text-contact {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 120px;
    padding: 40px 0px;
    align-items: flex-start;
}

.contact{
 list-style-type: none;
 padding: 0;
 margin: 0;
}

.title-contact{
 background-color: rgb(238, 234, 209);
}

.img-frame-index{
    height: auto;
    width: auto; 
    margin: 50px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

#form-contact{
    position: relative;
    width: 400px;
    height: 350px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    border: 2px solid #ccc;
    border-radius: 10px;
    margin: auto;
}

#all{
    text-align: center;
    width: 100%;
    
}
#all h1{
  display: inline-block;
  background-color:rgb(233, 212, 160);
  color: rgb(157, 117, 13);
  padding: 0px 5px 0px 5px;
}
.place-form input{
    border: none;
    border-radius: 10px;
    background-color: rgb(238, 234, 209);
    width: 220px;
    height: 20px;
    margin: 5px;
    padding: 5px 10px;
    outline: none;
}
.place-form{
    display: flex;
    flex-direction: column;
}

.place-form p{
  text-align: left;
  margin: 0;
}
#comment{
     width: 220px;
     height: 40px;
}

#submit_petshop{
    width: 180px;
    height: 35px;
    align-self: center;
    background-color: rgb(233, 212, 160);
    color: rgb(157, 117, 13);
    font-weight: bold;
}

.about-text p,h3{
    text-align: center;
    margin: 10px;
}

.search-bar{
   margin-top: 10px; 
   position: relative;
   display: flex;
   flex-direction: column; 
   align-items: center; 
   justify-content: center;
}
.search-bar h2{
    margin-bottom: 10px;
}

.search-bar input{
     width: 550px;
     height: 20px;
     border-radius: 15px;
     font-size: 12px;
     box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
}



.card {
    display: flex;
    flex-direction: column;
    width: 300px;
    max-width: 300px;
    height: 470px;
    max-height: 470px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
    padding: 8px;
    margin-top: 15px;
}

.item-counter{
    display: flex;
    background: #f4e8c8;
    border-radius: 10px;
    width: 120px;
    height: 30px;
    margin-bottom: 5px;
}
.items_control{
    width: 40px;
    text-align: center;
    border-radius: 5px;
     background: #ede2c5;
}
.items_control:hover {
    background-color: #f2c94c;
}
.items_current{
    width: 40px;
    text-align: center;
    
}

.item-details{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 0;
    margin-bottom: 5px;
}
.button-cart {
    padding: 8px 30px;
    background-color: #f3c94d;
    cursor: pointer;
    border: 2px solid #d5a617;
    color: rgb(136, 101, 14);
    font-family: Poppins;
    font-size: 14px;
    margin-top: auto;
}
.button-cart:hover{
    background-color: #f1c33b;
}
.item-weight{
    color: #797979;
    font-style:italic;
}

.name-item{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
     margin-bottom: 10px;
}

.container-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    max-width: 1000px;
    margin: auto; 
    padding: 10px;
    z-index: 9999;
}

.nav-items-location{
 display: flex; 
 align-items:flex-start;
 margin: 0px;
}
.nav-items{ 
 margin-top: 60px;
 position:absolute;
 background-color:  rgb(238, 221, 177);
 border: 3px solid #d5a617;
 border-radius: 10px;
 width: 170px;
 height: 180px;
 box-shadow: 0px 2px 5px rgba(186, 162, 4, 0.3);
 left: 0;
 padding: 0px 20px 10px 0px;
 z-index: 9999;
}

.nav-items-ul{
   margin: 0px;
   color: rgb(151, 110, 7);
}
.nav-items-ul li{
   margin-bottom: 10px;
   text-align: left;
}
.nav-items-ul li::marker{
   color:rgb(157, 117, 13);
}
.nav-items a,a:visited{
    text-decoration: none;
    color: rgb(157, 117, 13);
 }
 .nav-items-ul a:hover{
    color: rgb(194, 147, 27);
    transition: transform 0.2s ease;
}

 .popular-items h2{
  background-color:rgb(233, 212, 160);
  color: rgb(157, 117, 13);
  padding: 5px 0px 5px 0px;
 }

 .cartTab{
    width: 315px;
    background-color: rgb(231, 214, 170);
    color: black;
    border:2px solid rgb(157, 117, 13);
    border-radius: 5px;
    position: fixed;
    top:0;
    right: 0;
    bottom:0;
    display: grid;
    grid-template-rows: 60px 1fr 50px;
    transform: translateX(600px);
    transition: transform 0.6s ease;
    z-index: 1;
    
 }

 .cartTab .listCart{
    overflow:auto;
    overflow-x:hidden;
    width: 100%;
    gap:7px;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    align-items: stretch;
    flex-direction: column;
  }
    .cartTab .listCart .card{
    display: grid;
    grid-template-columns: 60px 1fr 65px 25px 30px;
    align-items: center;
    margin: 0;
    padding: 10px ;

    height: 120px;
    max-height: 120px;
    flex-shrink: 0;

    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(255, 237, 192);
    transition: none;
    transform: none;
  }
  .listCart{
    overflow:auto;
    width: 100%;
    box-sizing: border-box;

    display: flex;
    align-items: stretch;
    flex-direction: column;
}
.cartTab .listCart::-webkit-scrollbar {
    width: 0; 
}

 .cartTab h1{
    color: rgb(157, 90, 13);
    padding: 0 20px;
    margin: 0;
    font-weight: 300px;
 }
 .cartTab .btn{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 5px;
    gap: 5px;
    height: 40px;
 }

 .cartTab .btn button{
    color: #935c10;
    background-color: #efb43c;
    font-family: Poppins;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    border: none;
    box-shadow: 0px 2px 5px rgba(152, 79, 0, 0.8);

 }
  .cartTab .btn .close{
     background-color: rgb(235, 217, 185);
     color: rgb(157, 66, 13);
 }

.listCart .cancle-img{
    width: 22px;
    height: 22px;
    background-color: lab(47.03% 70.94 33.59 / 0.534);
    cursor:pointer;
    justify-self: center;
}
.listCart img{
    width: 60px;
    height: 60px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
    object-fit: contain;
    justify-self: end;
}


.listCart .name-item{
   font-size: 10px;
   text-align: left;
   justify-content: center;
   line-height: 1.2;
}
.listCart .item-price{
    text-align: right;
    width: 65px;
    white-space: nowrap;
}
.listCart .items_current{
    text-align: center;
}
.showCart .cartTab{
    transform: translateX(0);
}

.cart-icon{
    cursor: pointer;
}

.image-frame img:hover{
    transform: scale(1.05);
}
.image-frame img{
 transition: transform 0.2s ease-in-out;
}


.card:hover{
    transform: scale(1.01);
}
.card{
 transition: transform 0.4s ease-in-out;
}

.none{
    display:none;
}

#form-index{
    position:fixed;
    right: 0;
    background-color: rgb(244, 233, 204);
    border: 3px solid rgb(84, 50, 2);
    border-radius: 8px;
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: auto;
    transform: translateX(600px);
    transition: transform 0.6s ease;
}

.form-dev-index{
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}
.form-dev-index input{
    width: 135px;
    height: 20px;
    border-radius: 10px;
    border: none;
    background-color: rgb(255, 254, 244);
    text-align: center;
}

.form-dev-index .submit-index {
  background-color:rgb(233, 212, 160);
  color: rgb(157, 117, 13);
  width: 115px;
    height: 25px;
    border-radius: 8px;
    margin-top: 10px;
}

.form-dev-index p{
     margin-top: 10px;
     margin-bottom: 3px;
    padding: 0;
    gap:0;
    font-size: 14px;
}
.form-dev-index h3{
    margin-top: 0;
    margin-bottom: 5px;
    display: inline-block;
  background-color:rgb(233, 212, 160);
  color: rgb(157, 117, 13);
}

.form-dev-index h5{
    margin-bottom: 0;
    margin-top: 10px;
     color: rgb(139, 82, 11);
     font-size: 12px;
}

.showUser #form-index{
    transform: translateX(0);
}

.img-user{
    cursor: pointer;
}